.wrapper-text {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 20px 20px;
}

.wrapper-text h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 67px;
  text-transform: uppercase;
  text-align: left;
  color: #ed2840;
}

.wrapper-text p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  margin-top: 14px;
}
